@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.poppins-text {
  font-family: 'Poppins', sans-serif;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Raleway', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Roboto Slab', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Roboto Slab', sans-serif; 
  color: #224F34;
  font-weight: 500;
  font-size: 2rem; 
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #224F34;
  font-size: 1rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #373737;
  font-size: 1rem;
}

.navbar {
  background: #C2EFD4;
  padding: 55px 175px 0px 174px;
  font-family: Poppins;
  font-size: 20px;
  font-style: bold;
  font-weight: 500;
}

.navbar-button {
  border-radius: 3px;
  border: 2px solid #224F34;
  color: #224F34;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
